<!DOCTYPE html>
<html>
<title>DSE G5</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  /* background-image: url('/w3images/forestbridge.jpg'); */
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.w3-display-middle {
  top: 50%
}
.api-details {
  color: black;
  font-size: 17px;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Welcome To DSE G5</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">API for predict condo's price in each locations</p>
    <div class="api-details">
      <hr>API: CondoPricePrediction</hr>
      <p>URL: <a href="#">https://dse-g5.herokuapp.com/condo-price-predict</a></p>
      <p>body:</p>
      <ul>
        <li>condo-area</li>
        <li>address</li>
        <li>year</li>
        <li>sqm</li>
        <li>tower</li>
        <li>floor</li>
        <li>price-sqm</li>
        <li>rent-yield</li>
        <li>rent-yield-inc-year</li>
        <li>lat</li>
        <li>long</li>
        <li>min-dist-station</li>
      </ul>
      <p>For more info: <a href="https://docs.google.com/spreadsheets/d/1l9OUxhK-MMIcGuEIpNjI-NUVtpLojYlthZVOirdNjhs/edit?usp=sharing">Click API Doc</a></p>
    </div>
  </div>
</div>

</body>
</html>
